@charset "utf-8";

body, html {
  color: #333;
  background: #fff;
  font-family: system-ui,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑";
  line-height: 1.5;
  font-size: 14px;
}
.card-title {
  text-align: center;
  padding: 30px;
  font-size: 28px;
}
.f-cp {
  cursor: pointer;
}
